<html>
<head>
<title>The Friday Weekend Chat!</title>
<style>

@font-face{
    font-family: infprofont;
    src: url('MerriweatherSans-Regular.ttf');
}

body {
	font-family:infprofont;
	text-align: center;
}

a {
	display:block;
	padding: 2em;
	font-size:2em;
}
</style>
</head>
<body>

	<a href="http://fridayweekend.com"> <img
		src="http://fridayweekend.com/fridayweekend.com.png"
		alt="friday weekend chat" />
	</a>
	<br/>
	<a href="chat.html">Click here to start Friday Weekend Chat!</a>
	
</body>
</html>
